include LICENSE
include README.md
include pyproject.toml
include requirements.txt
include requirements-test.txt
recursive-include fincore *.py
include fincore/py.typed
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude docs *
prune build
prune dist
prune *.egg-info
